.group-9 .desktop-1 {
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 7px 778px 19px;
    box-sizing: border-box;
  }
  .group-9 .group-2 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
  }
  .group-9 .trendings {
    margin-right: 31.9px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
  }
  .group-9 .shoujo {
    margin-right: 31.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
  }
  .group-9 .seinen {
    margin-right: 27.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
  }
  .group-9 .genre {
    margin-right: 28.1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
  }
  .group-9 .schedules {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
  }
  .group-9 .search {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 36px;
    color: #232323;
  }
  .group-9 .image-1 {
    background: url('../assets/images/image_1.png') 50% / cover no-repeat;
    width: 225px;
    height: 319px;
  }
  .group-9 .group-3 {
    border-radius: 10px;
    background: #D9D9D9;
    position: relative;
    padding: 3.5px 15px 2.5px 15px;
    width: 540px;
    box-sizing: border-box;
  }
  .group-9 .group-4 {
    margin: 3px 11.4px 3px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .group-9 .group-5 {
    position: relative;
    margin-bottom: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 952.9px;
    box-sizing: border-box;
  }
  .group-9 .image-2 {
    background: url('../assets/images/image_2.png') 50% / cover no-repeat;
    margin-top: 2px;
    width: 225px;
    height: 317px;
  }
  .group-9 .image-3 {
    background: url('../assets/images/image_3.png') 50% / cover no-repeat;
    margin-top: 2px;
    width: 225px;
    height: 317px;
  }
  .group-9 .image-4 {
    background: url('../assets/images/image_4.png') 50% / cover no-repeat;
    margin-top: 2px;
    width: 225px;
    height: 317px;
  }
  .group-9 .image-5 {
    background: url('../assets/images/image_5.png') 50% / cover no-repeat;
    width: 225px;
    height: 318px;
  }
  .group-9 .image-6 {
    background: url('../assets/images/image_6.png') 50% / cover no-repeat;
    width: 225px;
    height: 318px;
  }
  .group-9 .image-7 {
    background: url('../assets/images/image_7.png') 50% / cover no-repeat;
    width: 225px;
    height: 318px;
  }
  .group-9 .image-8 {
    background: url('../assets/images/image_8.png') 50% / cover no-repeat;
    width: 225px;
    height: 318px;
  }
  .group-9 .group-6 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .group-9 .kono-subarashii-sekai-ni-shukufuku-wo-3 {
    margin-right: 17px;
    width: 288.1px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .kono-suba-gods-blessing-on-this-wonderful-world-3 {
    margin-right: 4px;
    width: 309.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.7);
  }
  .group-9 .kimetsu-no-yaiba-hashira-geiko-hen {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .demon-slayer-kimetsu-no-yaiba-hashira-training-arc {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.7);
  }
  .group-9 .mushoku-tensei-ii-isekai-ittara-honki-dasu-part-2 {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .mushoku-tensei-jobless-reincarnation-season-2-part-2 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.7);
  }
  .group-9 .tensei-shitara-slime-datta-ken-3-rd-season {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .that-time-igot-reincarnated-as-aslime-season-3 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.7);
  }
  .group-9 .kaijuu-8-gou {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .kaiju-no-8 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.7);
  }
  .group-9 .boku-no-hero-academia-7-th-season {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .my-hero-academia-season-7 {
    margin-right: 4px;
    width: 586.7px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.7);
  }
  .group-9 .wind-breaker {
    margin-bottom: 17px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .ookami-to-koushinryou-merchant-meets-the-wise-wolf {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;
  }
  .group-9 .spice-and-wold-merchant-meets-the-wise-wolf {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 7px;
    color: rgba(255, 255, 255, 0.7);
  }
  .group-9 .group-7 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1137.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .group-9 .group-8 {
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    display: flex;
    padding: 0 4.9px 0 18.4px;
    width: 1161px;
    height: 800px;
    box-sizing: border-box;
  }
  .group-9 {
    display: flex;
    padding-bottom: 73px;
    width: 1440px;
    box-sizing: border-box;
  }
  .group-9 .zuranime {
    margin: 16px 0 17px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    color: #FFFFFF;
  }
  .group-9 .hololive-production-symbol-1 {
    background: url('../assets/images/hololive_production_symbol_1.png') 50% / cover no-repeat;
    width: 141px;
    height: 149px;
  }
  .group-9 .container {
    margin: 0 0.3px 0 8.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1129.1px;
    box-sizing: border-box;
  }
  .group-9 .container-1 {
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .group-9 .container-2 {
    margin: 0 22.1px 397px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1115.7px;
    box-sizing: border-box;
  }
  .group-9 .container-3 {
    margin: 0 25.1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 755.8px;
    box-sizing: border-box;
  }
  .group-9 .container-4 {
    display: flex;
    flex-direction: row;
    column-gap: 87px;
    width: 1161px;
    box-sizing: border-box;
  }
  .group-9 .container-5 {
    margin-bottom: 121px;
    display: flex;
    flex-direction: row;
    column-gap: 87px;
    width: 1161px;
    box-sizing: border-box;
  }
  .group-9 .container-6 {
    margin: 0 0px 0 48.8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1089px;
    box-sizing: border-box;
  }
  .group-9 .container-7 {
    position: relative;
    margin-left: 0.5px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }